################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FiapCloudGames/.vs/CopilotSnapshots/9ECCCF155000DB4AA8C3528D4178D995
/.gitattributes
